.statGrid {
  text-align: center;
  padding: 5px 10px 0 5px;

  ion-text {
    position: relative;

    ion-icon {
      position: absolute;
      right: -25px;
    }
    .arrowIcon {
      position: absolute;
      right: -35%;
      top: 1px;
    }
  }
}
