<ion-grid class="statGrid">
  <ion-row style="font-weight: bold">
    <ion-col [id]="'tooltip'"><ion-text>Count <ion-icon name="information-circle-outline"></ion-icon></ion-text></ion-col> 
    <ion-popover [trigger]="'tooltip'" size="cover">
      <ion-text style="padding: 8px; color: black;">This is the pin count you left standing after your first throw.</ion-text>
    </ion-popover>
    <ion-col><ion-text>Missed</ion-text></ion-col>
   
    <ion-col><ion-text>Converted</ion-text></ion-col>
    <ion-col><ion-text>Rate</ion-text></ion-col>
  </ion-row>
  <ion-row *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
    <ion-col>
      <ion-text>{{ getLabel(i) }}</ion-text>
    </ion-col>
    <!-- Display each pin count -->
    <ng-container *ngIf="i > 0">
      <ion-col>
        <ion-text>{{ stats.missedCounts[i] }}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{ stats.pinCounts[i] }}</ion-text>
      </ion-col>
      <ion-col *ngIf="stats.pinCounts[i] === 0 && stats.missedCounts[i] === 0"></ion-col>
      <ion-col
        id="spareRates{{ i }}"
        *ngIf="stats.pinCounts[i] !== 0 || stats.missedCounts[i] !== 0"
        [ngStyle]="{ color: getRateColor(stats.spareRates[i]) }">
        <ion-text
          >{{ stats.spareRates[i] | number : "1.2-2" }}%
          <ion-icon
            *ngIf="prevStats && getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])"
            [name]="getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])"
            [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
          </ion-icon>
        </ion-text>

        <ion-popover
          class="diffPopover"
          trigger="spareRates{{ i }}"
          *ngIf="prevStats && getStatDifference(stats.spareRates[i], prevStats.spareRates[i]) !== '0'">
          <ion-text [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
            {{ getStatDifference(stats.spareRates[i], prevStats.spareRates[i]) }}
          </ion-text>
        </ion-popover>
      </ion-col>
    </ng-container>
    <!-- Display total spares and conversion rate -->
    <ng-container *ngIf="i === 0">
      <ion-col><ion-text>{{ stats.totalSparesMissed }}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{ stats.totalSparesConverted }}</ion-text>
      </ion-col>
      <ion-col
        id="overallSpareRate"
        *ngIf="stats.totalSparesMissed + stats.totalSparesConverted !== 0"
        [ngStyle]="{ color: getRateColor(stats.overallSpareRate) }">
        <ion-text
          >{{ stats.overallSpareRate | number : "1.2-2" }}%
          <ion-icon
            *ngIf="prevStats && getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)"
            [name]="getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)"
            [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
          </ion-icon>
        </ion-text>

        <ion-popover
          class="diffPopover"
          trigger="overallSpareRate"
          *ngIf="prevStats && getStatDifference(stats.overallSpareRate, prevStats.overallSpareRate) !== '0'">
          <ion-text [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
            {{ getStatDifference(stats.overallSpareRate, prevStats.overallSpareRate) }}
          </ion-text>
        </ion-popover>
      </ion-col>
      <ion-col *ngIf="stats.totalSparesMissed + stats.totalSparesConverted === 0"></ion-col>
    </ng-container>
  </ion-row>
</ion-grid>
