.statGrid {
  text-align: center;
  padding: 5px 10px 0 5px;

  ion-text {
    position: relative;

    ion-icon {
      position: absolute;
      right: -25px;
    }
  }
}
.spare-rates-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrowIcon {
  position: absolute;
  right: -10%;
  top: 1px;
}
