<ion-backdrop *ngIf="isLoading" style="opacity: 0.3; z-index: 11;"></ion-backdrop>
<ion-spinner *ngIf="isLoading" name="lines" color="primary" class="custom-loader"></ion-spinner>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <h2>Allgemein</h2>
  <div class="stats">
    <ion-text>Durchschnitt: </ion-text>
    <ion-text class="value">{{averageScore | number:'1.2-2' }}</ion-text>
  </div>
  <div class="stats">
    <ion-text>High Game: </ion-text>
    <ion-text class="value">{{highGame}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Total Pins: </ion-text>
    <ion-text class="value">{{totalPins}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Erster Ball Durchschnitt: </ion-text>
    <ion-text class="value">{{averageFirstCount | number:'1.2-2' }}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Strikes: </ion-text>
    <ion-text class="value">{{totalStrikes}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Strikes pro Spiel: </ion-text>
    <ion-text class="value">{{averageStrikesPerGame | number:'1.2-2'}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Strikewahrscheinlichkeit: </ion-text>
    <ion-text class="value">{{strikePercentage | number:'1.2-2'}}%</ion-text>
  </div>
  <div class="stats">
    <ion-text>Spares: </ion-text>
    <ion-text class="value">{{totalSpares}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Sparewahrscheinlichkeit: </ion-text>
    <ion-text class="value">{{sparePercentage | number:'1.2-2'}}%</ion-text>
  </div>
  <div class="stats">
    <ion-text>Opens: </ion-text>
    <ion-text class="value">{{totalOpens}}</ion-text>
  </div>
  <div class="stats">
    <ion-text>Openwahrscheinlichkeit: </ion-text>
    <ion-text class="value">{{openPercentage | number:'1.2-2'}}%</ion-text>
  </div>

  <div>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="padding">
        <mat-panel-title>Spares</mat-panel-title>
      </mat-expansion-panel-header>
      <ion-grid class="statGrid">
        <ion-row>
          <ion-col>Count</ion-col>
          <ion-col>Missed</ion-col>
          <ion-col>Converted</ion-col>
          <ion-col>Rate</ion-col>
        </ion-row>
        <ion-row *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];">
          <ion-col *ngIf="i === 1">{{ i }} Pin</ion-col>
          <ion-col *ngIf="i > 1">{{ i }} Pins</ion-col>
          <ion-col>{{ missedCounts[i] }}</ion-col>
          <ion-col>{{ pinCounts[i] }}</ion-col>
          <ion-col *ngIf="pinCounts[i] === 0 && missedCounts[i] === 0"></ion-col>
          <ion-col *ngIf="pinCounts[i] !== 0 || missedCounts[i] !== 0" [ngClass]="{
           'green': (missedCounts[i] === 0 || (pinCounts[i] / (pinCounts[i] + missedCounts[i]) * 100) > 75),
           'orange': (pinCounts[i] / (pinCounts[i] + missedCounts[i]) * 100) > 33 && (pinCounts[i] / (pinCounts[i] + missedCounts[i]) * 100) <= 75,
           'red': (pinCounts[i] / (pinCounts[i] + missedCounts[i]) * 100) <= 33 }">
            {{ missedCounts[i] === 0 ? '100.00' : (pinCounts[i] / (pinCounts[i] + missedCounts[i]) * 100) |
            number:'1.2-2'}}%
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-expansion-panel>
  </div>

  <canvas #scoreChart style="width: 300px; height: 300px;"></canvas>

</ion-content>