<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text>Durchschnitt: {{averageScore  | number:'1.2-2' }}</ion-text>
  <ion-text>Strikes: {{totalStrikes}}</ion-text>
  <ion-text>Strikewahrscheinlichkeit: {{strikePercentage  | number:'1.2-2'}}%</ion-text>
  <ion-text>Spares: {{totalSpares}}</ion-text>
  <ion-text>Sparewahrscheinlichkeit: {{sparePercentage  | number:'1.2-2'}}%</ion-text>
  <ion-text>Opens: {{totalOpens}}</ion-text>
  <ion-text>Openwahrscheinlichkeit: {{openPercentage  | number:'1.2-2'}}%</ion-text>
  <div>
    <h2>Pin Counts for Spares</h2>
    <ion-grid>
      <ion-row *ngFor="let count of pinCounts; let i = index">
        <ion-col>
          {{ i }} Pin Spares: {{ count }}
        </ion-col>
        <ion-col>
          Missed: {{ missedCounts[i] }}
        </ion-col>
      </ion-row>
    </ion-grid>
    
</div>
</ion-content>
