<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"></ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameHistory.length <= 0 && !isLoading; else content">
    <ion-text style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999;">
      Spiele erst ein paar Runden
    </ion-text>
  </ng-container>

  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="padding">
          <mat-panel-title>
            <h2>Allgemein</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="stats">
          <ion-text>Games: </ion-text>
          <ion-text class="value">{{ totalGames }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Durchschnitt: </ion-text>
          <ion-text class="value">{{ averageScore | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>High Game: </ion-text>
          <ion-text class="value">{{ highGame }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Total Pins: </ion-text>
          <ion-text class="value">{{ totalPins }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Erster Ball Durchschnitt: </ion-text>
          <ion-text class="value">{{ averageFirstCount | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Strikes: </ion-text>
          <ion-text class="value">{{ totalStrikes }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Strikes pro Spiel: </ion-text>
          <ion-text class="value">{{ averageStrikesPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Strikewahrscheinlichkeit: </ion-text>
          <ion-text class="value">{{ strikePercentage | number:'1.2-2' }}%</ion-text>
        </div>
        <div class="stats">
          <ion-text>Spares: </ion-text>
          <ion-text class="value">{{ totalSpares }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Spares pro Spiel: </ion-text>
          <ion-text class="value">{{ averageSparesPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Sparewahrscheinlichkeit: </ion-text>
          <ion-text class="value">{{ sparePercentage | number:'1.2-2' }}%</ion-text>
        </div>
        <div class="stats">
          <ion-text>Opens: </ion-text>
          <ion-text class="value">{{ totalOpens }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Opens pro Spiel: </ion-text>
          <ion-text class="value">{{ averageOpensPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Openwahrscheinlichkeit: </ion-text>
          <ion-text class="value">{{ openPercentage | number:'1.2-2' }}%</ion-text>
        </div>
      </mat-expansion-panel>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="padding">
            <mat-panel-title>
              <h2>Spares</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-grid class="statGrid">
            <ion-row>
              <ion-col>Count</ion-col>
              <ion-col>Missed</ion-col>
              <ion-col>Converted</ion-col>
              <ion-col>Rate</ion-col>
            </ion-row>
            <ion-row *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
              <ion-col>{{ getLabel(i) }}</ion-col>
              <!-- Display each pin count -->
              <ng-container *ngIf="i > 0">
                <ion-col>{{ missedCounts[i] }}</ion-col>
                <ion-col>{{ pinCounts[i] }}</ion-col>
                <ion-col *ngIf="pinCounts[i] === 0 && missedCounts[i] === 0"></ion-col>
                <ion-col *ngIf="pinCounts[i] !== 0 || missedCounts[i] !== 0"
                  [ngStyle]="{'color': getRateColor(getRate(pinCounts[i], missedCounts[i]))}">
                  {{ getRate(pinCounts[i], missedCounts[i]) | number:'1.2-2' }}%
                </ion-col>
              </ng-container>
              <!-- Display total spares and conversion rate -->
              <ng-container *ngIf="i === 0">
                <ion-col>{{ totalSparesMissed }}</ion-col>
                <ion-col>{{ totalSparesConverted }}</ion-col>
                <ion-col *ngIf="totalSparesMissed + totalSparesConverted !== 0"
                  [ngStyle]="{'color': getRateColor(getRate(totalSparesConverted, totalSparesMissed))}">
                  {{ getRate(totalSparesConverted, totalSparesMissed) | number:'1.2-2' }}%
                </ion-col>
                <ion-col *ngIf="totalSparesMissed + totalSparesConverted === 0"></ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </mat-expansion-panel>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="padding">
          <mat-panel-title>
            <h2>Average over Time</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas #scoreChart style="width: 300px; height: 300px; margin: 8px;"></canvas>
      </mat-expansion-panel>
    </div>
  </ng-template>
</ion-content>