<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title> Stats </ion-title>
    <ion-buttons slot="end" class="actionSheet">
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="(gameHistory.length <= 0 && !isLoading)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="activeFilterCount !== 0">{{activeFilterCount}}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment
    *ngIf="!((gameHistory.length <= 0 && !isLoading) || filteredGameHistory.length <= 0)"
    [value]="selectedSegment"
    (ionChange)="onSegmentChanged($event)">
    <ion-segment-button *ngFor="let segment of segments" [value]="segment">
      <ion-label class="segmentLabel">{{segment}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"></ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="(gameHistory.length <= 0 || filteredGameHistory.length <= 0) && !isLoading; else content">
    <ion-text class="no-game-text">
      {{ gameHistory.length <= 0 && !isLoading ? 'Start playing a few games to see your stats here!' : 'No stats for this filter!' }}
    </ion-text>
  </ng-container>
  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <swiper-container
      [spaceBetween]="8"
      [modules]="swiperModules"
      #swiper
      [slidesPerView]="1"
      (swiperslidechange)="onSlideChanged()"
      [autoHeight]="true"
      style="background: var(--ion-item-background)">
      <!-- Overall Segment -->
      <swiper-slide>
        <div class="tab">
          <ng-container *ngFor="let stat of statDefinitions">
            <app-stat-display
              [label]="stat.label"
              [currentStat]="stats[stat.key]"
              [prevStat]="stat.prevKey ? prevStats[stat.prevKey] : undefined"
              [toolTip]="stat.toolTip"
              [id]="stat.id"
              [isPercentage]="stat.isPercentage || false">
            </app-stat-display>
          </ng-container>
          <canvas #scoreChart class="score" style="width: 300px; height: 400px"></canvas>
        </div>
      </swiper-slide>

      <!-- Spares Segment -->
      <swiper-slide>
        <div class="tab">
          <app-spare-display [stats]="stats" [prevStats]="prevStats" id="spareStats"></app-spare-display>
          <canvas #pinChart class="spares" style="width: 300px; height: 300px"></canvas>
        </div>
      </swiper-slide>

      <!-- Throws Segment -->
      <swiper-slide style="min-height: 100%">
        <div class="tab">
          <canvas #throwChart class="throws" style="width: 300px; height: 300px"></canvas>
        </div>
      </swiper-slide>

      <swiper-slide>
        <ion-item class="date-picker" lines="none">
          <ion-select
            label="Session date"
            toggleIcon="calendar-number-outline"
            expandedIcon="calendar-number"
            [(ngModel)]="selectedDate"
            (ionChange)="onDateChange($event)">
            <ion-select-option *ngFor="let unixDate of uniqueSortedDates" [value]="unixDate">
              {{ (unixDate | date:'dd.MM.yyyy') }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <swiper-container [nested]="true" [modules]="swiperModules" #swipernest>
          <swiper-slide>
            <div class="tab">
              <ng-container *ngFor="let stat of sessionStatDefinitions">
                <app-stat-display
                  [label]="stat.label"
                  [currentStat]="sessionStats[stat.key]"
                  [prevStat]="stat.prevKey ? stats[stat.prevKey] : undefined"
                  [toolTip]="stat.toolTip"
                  [id]="stat.id"
                  [isPercentage]="stat.isPercentage || false">
                </app-stat-display>
              </ng-container>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="tab">
              <app-spare-display [prevStats]="stats" [stats]="sessionStats" [id]="'sessionSpareStats'"></app-spare-display>
            </div>
          </swiper-slide>
        </swiper-container>
      </swiper-slide>
    </swiper-container>
  </ng-template>
</ion-content>
