<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title> Stats </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedSegment" value="Overall" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button *ngFor="let segment of segments" [value]="segment">
      <ion-label class="segmentLabel">{{segment}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"></ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameHistory.length <= 0 && !isLoading; else content">
    <ion-text style="width: 60%; display: flex; justify-content: center; height: 100%; align-items: center; margin: 0 auto">
      Start playing a few games to see your stats here!
    </ion-text>
  </ng-container>

  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <swiper-container [modules]="swiperModules" #swiper [slidesPerView]="1" (swiperslidechange)="onSlideChanged()" loop="true">
      <!-- Overall Segment -->
      <swiper-slide class="tab">
        <app-stat-display label="Games" [currentStat]="stats.totalGames" id="totalGames"></app-stat-display>
        <app-stat-display
          label="Clean games"
          [currentStat]="stats.cleanGameCount"
          [prevStat]="prevStats.cleanGameCount"
          [id]="'cleanGameCount'"></app-stat-display>
        <app-stat-display
          label="Perfect games"
          [currentStat]="stats.perfectGameCount"
          [prevStat]="prevStats.perfectGameCount"
          [id]="'perfectGameCount'"></app-stat-display>
        <app-stat-display
          label="Average"
          [currentStat]="stats.averageScore"
          [prevStat]="prevStats.averageScore"
          [id]="'averageScore'"></app-stat-display>
        <app-stat-display label="High game" [currentStat]="stats.highGame" id="highGame"></app-stat-display>
        <app-stat-display label="Total pins" [currentStat]="stats.totalPins" id="totalPins"></app-stat-display>
        <app-stat-display
          label="First ball average"
          [currentStat]="stats.averageFirstCount"
          [prevStat]="prevStats.averageFirstCount"
          [id]="'averageFirstCount'"></app-stat-display>
        <app-stat-display label="Total strikes" [currentStat]="stats.totalStrikes" id="totalStrikes"></app-stat-display>
        <app-stat-display
          label="Strikes per game"
          [currentStat]="stats.averageStrikesPerGame"
          [prevStat]="prevStats.averageStrikesPerGame"
          [id]="'averageStrikesPerGame'"></app-stat-display>
        <app-stat-display
          label="Strike-percentage"
          [currentStat]="stats.strikePercentage"
          [prevStat]="prevStats.strikePercentage"
          [id]="'strikePercentage'"></app-stat-display>
        <app-stat-display label="Total spares" [currentStat]="stats.totalSpares" id="totalSpares"></app-stat-display>
        <app-stat-display
          label="Spares per game"
          [currentStat]="stats.averageSparesPerGame"
          [prevStat]="prevStats.averageSparesPerGame"
          [id]="'averageSparesPerGame'"></app-stat-display>
        <app-stat-display
          label="Spare-percentage"
          [currentStat]="stats.overallSpareRate"
          [prevStat]="prevStats.overallSpareRate"
          [id]="'sparePercentage'"></app-stat-display>
        <app-stat-display label="Total opens" [currentStat]="stats.totalSparesMissed" id="totalSparesMissed"></app-stat-display>
        <app-stat-display
          label="Opens per game"
          [currentStat]="stats.averageOpensPerGame"
          [prevStat]="prevStats.averageOpensPerGame"
          [id]="'averageOpensPerGame'"></app-stat-display>
        <app-stat-display
          label="Open-percentage"
          [currentStat]="stats.overallMissedRate"
          [prevStat]="prevStats.overallMissedRate"
          [id]="'openPercentage'"></app-stat-display>
        <canvas #scoreChart class="score" style="width: 300px; height: 300px"></canvas>
      </swiper-slide>

      <!-- Spares Segment -->
      <swiper-slide class="tab">
        <ion-grid class="statGrid">
          <ion-row style="font-weight: bold">
            <ion-col><ion-text>Count</ion-text></ion-col>
            <ion-col><ion-text>Missed</ion-text></ion-col>
            <ion-col><ion-text>Converted</ion-text></ion-col>
            <ion-col><ion-text>Rate</ion-text></ion-col>
          </ion-row>
          <ion-row *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <ion-col><ion-text>{{ getLabel(i) }}</ion-text></ion-col>
            <!-- Display each pin count -->
            <ng-container *ngIf="i > 0">
              <ion-col><ion-text>{{ stats.missedCounts[i] }}</ion-text></ion-col>
              <ion-col><ion-text>{{ stats.pinCounts[i] }}</ion-text></ion-col>
              <ion-col *ngIf="stats.pinCounts[i] === 0 && stats.missedCounts[i] === 0"></ion-col>
              <ion-col
                id="spareRates{{i}}"
                *ngIf="stats.pinCounts[i] !== 0 || stats.missedCounts[i] !== 0"
                [ngStyle]="{'color': getRateColor(stats.spareRates[i])}">
                <ion-text
                  >{{ stats.spareRates[i] | number:'1.2-2' }}%
                  <ion-icon
                    *ngIf="getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])"
                    [name]="getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])"
                    [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
                  </ion-icon>
                </ion-text>

                <ion-popover
                  class="diffPopover"
                  trigger="spareRates{{i}}"
                  *ngIf="getStatDifference(stats.spareRates[i], prevStats.spareRates[i]) !== '0'">
                  <ion-text [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
                    {{getStatDifference(stats.spareRates[i], prevStats.spareRates[i])}}
                  </ion-text>
                </ion-popover>
              </ion-col>
            </ng-container>
            <!-- Display total spares and conversion rate -->
            <ng-container *ngIf="i === 0">
              <ion-col><ion-text>{{ stats.totalSparesMissed }}</ion-text></ion-col>
              <ion-col><ion-text>{{ stats.totalSparesConverted }}</ion-text></ion-col>
              <ion-col
                id="overallSpareRate"
                *ngIf="stats.totalSparesMissed + stats.totalSparesConverted !== 0"
                [ngStyle]="{'color': getRateColor(stats.overallSpareRate)}">
                <ion-text
                  >{{ stats.overallSpareRate | number:'1.2-2' }}%
                  <ion-icon
                    *ngIf="getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)"
                    [name]="getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)"
                    [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
                  </ion-icon>
                </ion-text>

                <ion-popover
                  class="diffPopover"
                  trigger="overallSpareRate"
                  *ngIf="getStatDifference(stats.overallSpareRate, prevStats.overallSpareRate) !== '0'">
                  <ion-text [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
                    {{getStatDifference(stats.overallSpareRate, prevStats.overallSpareRate)}}
                  </ion-text>
                </ion-popover>
              </ion-col>
              <ion-col *ngIf="stats.totalSparesMissed + stats.totalSparesConverted === 0"></ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>

        <canvas #pinChart class="spares" style="width: 300px; height: 300px"></canvas>
      </swiper-slide>

      <!-- Throws Segment -->
      <swiper-slide class="tab">
        <canvas #throwChart class="throws" style="width: 300px; height: 300px"></canvas>
      </swiper-slide>

      <swiper-slide class="tab">
        <ion-item style="font-size: 20px;">
          <ion-select label="Session date" [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)">
            <ion-select-option *ngFor="let unixDate of uniqueSortedDates" [value]="unixDate"> {{ (unixDate | date: 'dd.MM.yy') }} </ion-select-option>
          </ion-select>
        </ion-item>
        <app-stat-display label="Games" [currentStat]="sessionStats.totalGames"></app-stat-display>
        <app-stat-display label="Clean games" [currentStat]="sessionStats.cleanGameCount"></app-stat-display>
        <app-stat-display label="Perfect games" [currentStat]="sessionStats.perfectGameCount"></app-stat-display>
        <app-stat-display label="Average" [currentStat]="sessionStats.averageScore"></app-stat-display>
        <app-stat-display label="High game" [currentStat]="sessionStats.highGame"></app-stat-display>
        <app-stat-display label="Total pins" [currentStat]="sessionStats.totalPins"></app-stat-display>
        <app-stat-display label="First ball average" [currentStat]="sessionStats.averageFirstCount"></app-stat-display>
        <app-stat-display label="Total strikes" [currentStat]="sessionStats.totalStrikes"></app-stat-display>
        <app-stat-display label="Strikes per game" [currentStat]="sessionStats.averageStrikesPerGame"></app-stat-display>
        <app-stat-display label="Strike-percentage" [currentStat]="sessionStats.strikePercentage"></app-stat-display>
        <app-stat-display label="Total spares" [currentStat]="sessionStats.totalSpares"></app-stat-display>
        <app-stat-display label="Spares per game" [currentStat]="sessionStats.averageSparesPerGame"></app-stat-display>
        <app-stat-display label="Spare-percentage" [currentStat]="sessionStats.overallSpareRate"></app-stat-display>
        <app-stat-display label="Total opens" [currentStat]="sessionStats.totalSparesMissed"></app-stat-display>
        <app-stat-display label="Opens per game" [currentStat]="sessionStats.averageOpensPerGame"></app-stat-display>
        <app-stat-display label="Open-percentage" [currentStat]="sessionStats.overallMissedRate"></app-stat-display>
      </swiper-slide>
    </swiper-container>
  </ng-template>
</ion-content>
