.tab {
  margin-top: 10px;
}

canvas {
  margin: 15px 8px 0;
}

.throws {
  margin-top: 0;
}

.padding {
  padding: 10px 20px 0 0 !important;
}

.date-picker {
  font-size: 1.1rem;
  padding: 5px 15px 0 20px;
  box-shadow: 0px 0px 3px 0px;
  border-radius: 0 0 3px 3px;

  ion-select::part(text) {
    font-weight: 500;
  }
}
.actionSheet {
  ion-button {
    background: none;
    --background-activated: none;
  }
}
.filter-indicator {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: black;
  background: var(--ion-color-primary);
  padding: 1px;
  border-radius: 7px;
  z-index: 15555;
  font-size: 14px;
}
