.stats {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 20px;

    ion-text {
        padding: 5px;
    }

    .value {
        border: 1px solid var(--ion-color-dark);
        border-radius: 5px;
        background-color: var(--ion-color-secondary);
    }
}

ion-content {
    font-size: 19px;
}

h2 {
    margin-left: 15px;
    color: rgb(97, 128, 219);
}

.tab {
    margin-top: 10px;
}

canvas {
    margin: 15px 8px 0 8px;

    
}
.throws{
        margin-top: 0;
    }
mat-panel-title {
    color: rgb(97, 128, 219);
    font-size: 28.5px;
}

.padding {
    padding: 10px 20px 0 0 !important;
}

.statGrid {
    text-align: center;
    padding: 5px 10px 0 5px;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}