<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      Stats
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedSegment" value="default" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="default">
      <ion-label class="segmentLabel">Overall</ion-label>
    </ion-segment-button>
    <ion-segment-button value="spares">
      <ion-label class="segmentLabel">Spares</ion-label>
    </ion-segment-button>
    <ion-segment-button value="throws">
      <ion-label class="segmentLabel">Throws</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"></ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameHistory.length <= 0 && !isLoading; else content">
    <ion-text style="width: 60%;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      margin: 0 auto;">
      Start playing a few games to see your stats here!
    </ion-text>
  </ng-container>

  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <swiper-container [modules]="swiperModules" #swiper [slidesPerView]="1"
      (swiperslidechangetransitionstart)="onSlideChanged()">
      <!-- Overall Segment -->
      <swiper-slide class="tab">
        <div class="stats">
          <ion-text>Games: </ion-text>
          <ion-text class="value">{{ totalGames }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Average: </ion-text>
          <ion-text class="value">{{ averageScore | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>High game: </ion-text>
          <ion-text class="value">{{ highGame }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Total pins: </ion-text>
          <ion-text class="value">{{ totalPins }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>First ball average: </ion-text>
          <ion-text class="value">{{ averageFirstCount | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Total strikes: </ion-text>
          <ion-text class="value">{{ totalStrikes }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Strikes per game: </ion-text>
          <ion-text class="value">{{ averageStrikesPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Strike-percentage: </ion-text>
          <ion-text class="value">{{ strikePercentage | number:'1.2-2' }}%</ion-text>
        </div>
        <div class="stats">
          <ion-text>Total spares: </ion-text>
          <ion-text class="value">{{ totalSpares }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Spares per game: </ion-text>
          <ion-text class="value">{{ averageSparesPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Spare-percentage: </ion-text>
          <ion-text class="value">{{ sparePercentage | number:'1.2-2' }}%</ion-text>
        </div>
        <div class="stats">
          <ion-text>Total opens: </ion-text>
          <ion-text class="value">{{ totalSparesMissed }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Opens per game: </ion-text>
          <ion-text class="value">{{ averageOpensPerGame | number:'1.2-2' }}</ion-text>
        </div>
        <div class="stats">
          <ion-text>Open-percentage: </ion-text>
          <ion-text class="value">{{ openPercentage | number:'1.2-2' }}%</ion-text>
        </div>
        <canvas #scoreChart class="score" style="width: 300px; height: 300px;"></canvas>
      </swiper-slide>

      <!-- Spares Segment -->
      <swiper-slide class="tab">
        <ion-grid class="statGrid">
          <ion-row style="font-weight: bold;">
            <ion-col><ion-text>Count</ion-text></ion-col>
            <ion-col><ion-text>Missed</ion-text></ion-col>
            <ion-col><ion-text>Converted</ion-text></ion-col>
            <ion-col><ion-text>Rate</ion-text></ion-col>
          </ion-row>
          <ion-row *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <ion-col><ion-text>{{ getLabel(i) }}</ion-text></ion-col>
            <!-- Display each pin count -->
            <ng-container *ngIf="i > 0">
              <ion-col><ion-text>{{ missedCounts[i] }}</ion-text></ion-col>
              <ion-col><ion-text>{{ pinCounts[i] }}</ion-text></ion-col>
              <ion-col *ngIf="pinCounts[i] === 0 && missedCounts[i] === 0"></ion-col>
              <ion-col *ngIf="pinCounts[i] !== 0 || missedCounts[i] !== 0"
                [ngStyle]="{'color': getRateColor(spareRates[i])}">
                {{ spareRates[i] | number:'1.2-2' }}%
              </ion-col>
            </ng-container>
            <!-- Display total spares and conversion rate -->
            <ng-container *ngIf="i === 0">
              <ion-col><ion-text>{{ totalSparesMissed }}</ion-text></ion-col>
              <ion-col><ion-text>{{ totalSparesConverted }}</ion-text></ion-col>
              <ion-col *ngIf="totalSparesMissed + totalSparesConverted !== 0"
                [ngStyle]="{'color': getRateColor(overallSpareRate)}">
                {{ overallSpareRate | number:'1.2-2' }}%
              </ion-col>
              <ion-col *ngIf="totalSparesMissed + totalSparesConverted === 0"></ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
        <canvas #pinChart class="spares" style="width: 300px; height: 300px;"></canvas>
      </swiper-slide>

      <!-- Throws Segment -->
      <swiper-slide class="tab">
        <canvas #throwChart class="throws" style="width: 300px; height: 300px;"></canvas>
      </swiper-slide>
    </swiper-container>
  </ng-template></ion-content>