<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()" [strong]="true">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--padding-top: 15px">
  <ion-item>
    <ion-note slot="start">Score Range</ion-note>
    <ion-input class="ion-text-center" [(ngModel)]="filters.minScore" name="minScore" clearOnEdit="true" inputmode="numeric"></ion-input>
    <ion-label class="ion-text-center">-</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="filters.maxScore" name="maxScore" clearOnEdit="true" inputmode="numeric"></ion-input>
  </ion-item>
  <ion-item>
    <ion-note slot="start">Time Range</ion-note>
    <ion-datetime-button datetime="datetime-min"></ion-datetime-button>
    <ion-label class="ion-text-center">-</ion-label>
    <ion-datetime-button datetime="datetime-max"></ion-datetime-button>
  </ion-item>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime-min"
        locale="en-US"
        display-format="MM/DD/YYYY"
        [(ngModel)]="filters.startDate"
        name="startDate"
        [highlightedDates]="highlightedDates"
        (ionChange)="updateStart($event)"
        presentation="date"
        [min]="defaultFilters.startDate"
        [max]="filters.endDate"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime-max"
        locale="en-US"
        display-format="MM/DD/YYYY"
        [(ngModel)]="filters.endDate"
        name="endDate"
        [highlightedDates]="highlightedDates"
        (ionChange)="updateEnd($event)"
        presentation="date"
        [min]="filters.startDate"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-item>
    <ion-toggle [(ngModel)]="filters.isPractice" name="isPractice">Exclude practice games</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-toggle [(ngModel)]="filters.isPerfect" name="isPerfect">Only perfect games</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-toggle [(ngModel)]="filters.isClean" name="isClean">Only clean games</ion-toggle>
  </ion-item>
</ion-content>
<ion-footer style="display: flex" class="ion-justify-content-center">
  <ion-button class="confirmBtn" (click)="confirm()">Confirm</ion-button>
</ion-footer>
