<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button type="button" class="actionSheet" slot="start" fill="clear" (click)="addLeague()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
    <ion-title> Leagues </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="(getLeagueKeys().length <= 0) && !isLoading; else content">
    <ion-text class="no-game-text"> No leagues saved</ion-text>
  </ng-container>
  <ng-template #content>
    <ng-container *ngFor="let league of getLeagueKeys(); let i = index;">
      @if(league !== 'Practice'){
      <ion-item-sliding class="sliding" #slidingItem>
        <ion-item-options side="end" (ionSwipe)="deleteLeague(league); slidingItem.closeOpened();">
          <ion-item-option color="danger" expandable (click)="deleteLeague(league); slidingItem.closeOpened();">
            <ion-icon class="title" style="transform: translateY(-2px)" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start" (ionSwipe)="editLeague(league); slidingItem.closeOpened();">
          <ion-item-option expandable (click)="editLeague(league); slidingItem.closeOpened();">
            <ion-icon class="title" style="transform: translateY(-2px)" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item (click)="loadingService.setLoading(true)" [id]="league" class="ion-activatable ripple-parent rectangle">
          <ion-label class="game-info">
            <div class="title">{{ league }}</div>
            <div class="score">Games: {{getGamesByLeague(league).length}}</div>
            <div class="score">Avg: {{getStatsByLeague(league).averageScore | number: '1.1-2' }}</div>
            <div class="score">High: {{getStatsByLeague(league).highGame}}</div>
          </ion-label>
          <ion-button fill="clear" slot="end" [disabled]="isEditMode[league]">
            <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-sliding>
      } @else {
      <div class="sliding">
        <ion-item (click)="loadingService.setLoading(true)" [id]="league" class="ion-activatable ripple-parent rectangle">
          <ion-label class="game-info">
            <div class="title">{{ league }}</div>
            <div class="score">Games: {{getGamesByLeague(league).length}}</div>
            <div class="score">Avg: {{getStatsByLeague(league).averageScore | number: '1.1-2' }}</div>
            <div class="score">High: {{getStatsByLeague(league).highGame}}</div>
          </ion-label>
          <ion-button fill="clear" slot="end" [disabled]="isEditMode[league]">
            <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      }
    </ng-container>
  </ng-template>

  <ion-modal *ngFor="let league of getLeagueKeys()" [trigger]="league" #modal (didPresent)="loadingService.setLoading(false)">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start" style="padding: 4px">
            <ion-button (click)="cancel(league)"><ion-icon name="chevron-back" slot="icon-only"></ion-icon></ion-button>
          </ion-buttons>
          <ion-title>{{league}}</ion-title>
        </ion-toolbar>
        <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChanged($event)">
          <ion-segment-button *ngFor="let segment of segments" [value]="segment">
            <ion-label class="segmentLabel">{{segment}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-header>
      <ion-content>
        <swiper-container
          [modules]="swiperModules"
          [slidesPerView]="1"
          #swiper
          (swiperslidechange)="onSlideChanged()"
          [autoheight]="true"
          style="background: var(--ion-item-background)">
          <!-- Overall Segment -->
          <swiper-slide>
            <div class="tab">
              <app-stat-display label="Games" [currentStat]="statsByLeague[league].totalGames" id="league-totalGames"></app-stat-display>
              <app-stat-display
                label="Perfect games"
                [currentStat]="statsByLeague[league].perfectGameCount"
                [toolTip]="'A perfect game means every frame is filled with strikes.'"
                [id]="'league-perfectGameCount'"></app-stat-display>
              <app-stat-display
                label="Clean games"
                [currentStat]="statsByLeague[league].cleanGameCount"
                [toolTip]="'A clean game means every frame is filled with either a strike or a spare.'"
                [id]="'league-cleanGameCount'"></app-stat-display>
              <app-stat-display
                label="Clean game percentage"
                [prevStat]="overallStats.cleanGamePercentage"
                [currentStat]="statsByLeague[league].cleanGamePercentage"
                [toolTip]="'The percentage of how many games were clean games.'"
                [id]="'league-cleanGamePercentage'"
                [isPercentage]="true"></app-stat-display>
              <app-stat-display
                label="Average"
                [prevStat]="overallStats.averageScore"
                [currentStat]="statsByLeague[league].averageScore"
                [id]="'league-averageScore'"></app-stat-display>
              <app-stat-display label="High game" [currentStat]="statsByLeague[league].highGame" id="league-highGame"></app-stat-display>
              <app-stat-display label="Total pins" [currentStat]="statsByLeague[league].totalPins" id="league-totalPins"></app-stat-display>
              <app-stat-display
                label="First ball average"
                [prevStat]="overallStats.averageFirstCount"
                [currentStat]="statsByLeague[league].averageFirstCount"
                [id]="'league-averageFirstCount'"></app-stat-display>
              <app-stat-display label="Total strikes" [currentStat]="statsByLeague[league].totalStrikes" id="league-totalStrikes"></app-stat-display>
              <app-stat-display
                label="Strikes per game"
                [prevStat]="overallStats.averageStrikesPerGame"
                [currentStat]="statsByLeague[league].averageStrikesPerGame"
                [id]="'league-averageStrikesPerGame'"></app-stat-display>
              <app-stat-display
                label="Strike-percentage"
                [prevStat]="overallStats.strikePercentage"
                [currentStat]="statsByLeague[league].strikePercentage"
                [id]="'league-strikePercentage'"
                [toolTip]="'This shows your strike probability, calculated as the percentage of strikes you achieve out of a maximum of 12 per game.'"
                [isPercentage]="true"></app-stat-display>
              <app-stat-display label="Total spares" [currentStat]="statsByLeague[league].totalSpares" id="league-totalSpares"></app-stat-display>
              <app-stat-display
                label="Spares per game"
                [prevStat]="overallStats.averageSparesPerGame"
                [currentStat]="statsByLeague[league].averageSparesPerGame"
                [id]="'league-averageSparesPerGame'"></app-stat-display>
              <app-stat-display
                label="Spare-percentage"
                [prevStat]="overallStats.overallSpareRate"
                [currentStat]="statsByLeague[league].overallSpareRate"
                [id]="'league-sparePercentage'"
                [toolTip]="'This is the probability of how likely you hit a spare if your first throw was not a strike.'"
                [isPercentage]="true"></app-stat-display>
              <app-stat-display label="Total opens" [currentStat]="statsByLeague[league].totalSparesMissed" id="totalSparesMissed"></app-stat-display>
              <app-stat-display
                label="Opens per game"
                [prevStat]="overallStats.averageOpensPerGame"
                [currentStat]="statsByLeague[league].averageOpensPerGame"
                [id]="'league-averageOpensPerGame'"></app-stat-display>
              <app-stat-display
                label="Open-percentage"
                [prevStat]="overallStats.overallMissedRate"
                [currentStat]="statsByLeague[league].overallMissedRate"
                [id]="'league-openPercentage'"
                [toolTip]="'This is the probability of how likely you miss a spare if your first throw was not a strike.'"
                [isPercentage]="true"></app-stat-display>
            </div>
          </swiper-slide>

          <!-- Spares Segment -->
          <swiper-slide>
            <div class="tab">
              <app-spare-display [prevStats]="overallStats" [stats]="statsByLeague[league]" id="league-spareStats"></app-spare-display>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="tab">
              <app-game
                [games]="getGamesByLeague(league)"
                [gameCount]="getGamesByLeague(league).length"
                [isLeaguePage]="true"
                [leagues]="leagues"></app-game>
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
