<div class="grid-container">
  <ion-grid fixed="true" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let frameIndex = index">
    <ion-row>
      <ion-col class="middle frame">{{ i }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="inputCol" *ngIf="i !== 10"></ion-col>
      <ion-col class="inputCol">
        <ion-input type="number" clearOnEdit="true" inputmode="numeric" readonly
          [value]="gameData[frameIndex].throws[0]" [ngClass]="{'active-input': isActiveInput(frameIndex, 0)}">
        </ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i !== 10">
        <ion-input type="number" clearOnEdit="true" inputmode="numeric" readonly
          [value]="gameData[frameIndex].throws[1]" [ngClass]="{'active-input': isActiveInput(frameIndex, 1)}">
        </ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" clearOnEdit="true" inputmode="numeric" readonly
          [value]="gameData[frameIndex].throws[1]" [ngClass]="{'active-input': isActiveInput(frameIndex, 1)}">
        </ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" clearOnEdit="true" inputmode="numeric" readonly
          [value]="gameData[frameIndex].throws[2]" [ngClass]="{'active-input': isActiveInput(frameIndex, 2)}"        
          [disabled]="((gameData[frameIndex].throws[0] ?? 0) + (gameData[frameIndex].throws[1] ?? 0)) < 10">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="middle count">
        <ion-input type="text" class="frameScores" readonly>
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-grid>
  <ion-row>
    <ion-col class="middle count">Total:</ion-col>
    <ion-col class="middle count">Max: </ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-col>
      <ion-button (click)="clearFrames()">Clear Score</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>Save Score</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-container>
  <!-- Bowling pin setup -->
  <div class="bowling-setup">
    <div class="pin-row">
      <div class="pin" (click)="pressPin(1)"
        [ngClass]="{'pressed': pressedPins.has(1), 'disabled': firstThrowPins.has(1)}">1</div>
    </div>
    <div class="pin-row">
      <div class="pin" (click)="pressPin(2)"
        [ngClass]="{'pressed': pressedPins.has(2), 'disabled': firstThrowPins.has(2)}">2</div>
      <div class="pin" (click)="pressPin(3)"
        [ngClass]="{'pressed': pressedPins.has(3), 'disabled': firstThrowPins.has(3)}">3</div>
    </div>
    <div class="pin-row">
      <div class="pin" (click)="pressPin(4)"
        [ngClass]="{'pressed': pressedPins.has(4), 'disabled': firstThrowPins.has(4)}">4</div>
      <div class="pin" (click)="pressPin(5)"
        [ngClass]="{'pressed': pressedPins.has(5), 'disabled': firstThrowPins.has(5)}">5</div>
      <div class="pin" (click)="pressPin(6)"
        [ngClass]="{'pressed': pressedPins.has(6), 'disabled': firstThrowPins.has(6)}">6</div>
    </div>
    <div class="pin-row">
      <div class="pin" (click)="pressPin(7)"
        [ngClass]="{'pressed': pressedPins.has(7), 'disabled': firstThrowPins.has(7)}">7</div>
      <div class="pin" (click)="pressPin(8)"
        [ngClass]="{'pressed': pressedPins.has(8), 'disabled': firstThrowPins.has(8)}">8</div>
      <div class="pin" (click)="pressPin(9)"
        [ngClass]="{'pressed': pressedPins.has(9), 'disabled': firstThrowPins.has(9)}">9</div>
      <div class="pin" (click)="pressPin(10)"
        [ngClass]="{'pressed': pressedPins.has(10), 'disabled': firstThrowPins.has(10)}">10</div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; margin: 0 10px 0">
    <ion-button (click)="goBack()">Back</ion-button>
    <ion-button (click)="confirmThrow()">Confirm Throw</ion-button>
  </div>
</ng-container>