<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    <ion-input
      class="ion-text-right"
      label="Your name"
      type="text"
      [value]="username"
      placeholder="{{username}}"
      (ionChange)="username = $event.target.value!.toString()"
      (ionChange)="changeName()"
      style="margin-right: 21px">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="color-palette-outline" slot="start"></ion-icon>
    <ion-select
      label="Color Theme"
      interface="popover"
      [(ngModel)]="currentColor"
      [ngClass]="currentColor"
      placeholder="{{currentColor}}"
      (ionChange)="changeColor()">
      <ion-select-option *ngFor="let color of optionsWithClasses; let i = index;" [value]="color.name" [ngClass]="color.class">
        {{ color.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Your email" labelPlacement="floating" type="email" placeholder="email@domain.com" [(ngModel)]="userEmail" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          maxlength="500"
          counter="true"
          label="Feedback"
          labelPlacement="floating"
          placeholder="Enter your feedback"
          [(ngModel)]="feedbackMessage"
          required>
        </ion-textarea>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="submitFeedback()"> Submit Feedback </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
