.Red {
    &::part(text) {
        color: #A91D3A;
    }
}

.Blue {
    &::part(text) {
        color: #427D9D;
    }
}

.Green {
    &::part(text) {
        color: #789461;
    }
}

.Lila {
    &::part(text) {
        color: #31304D;
    }
}

.Gray {
    &::part(text) {
        color: #7D7C7C;
    }
}