<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button for="excelUpload" type="button" class="actionSheet" slot="start" fill="clear"
      (click)="openExcelFileInput()">
      <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
    </ion-button>
    <!-- Clear Input on Upload-->
    <input type="file" id="excelUpload" style="display: none;" (input)="handleFileUpload($event)"
      placeholder="Upload file" accept=".xlsx">
    <ion-title>
      History
      <ion-badge
        style="--padding-end: 8px;
      --padding-start: 8px; --padding-top: 5px; --padding-bottom: 5px; font-size: 18px; vertical-align: sub;">{{gameHistory.length}}
      </ion-badge>
    </ion-title>
    <ion-button (click)="exportToExcel()" class="actionSheet" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameHistory.length <= 0 && !isLoading; else content">
    <ion-text style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999;">
      Start playing a few games to see your games here!
    </ion-text>
  </ng-container>

  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <!-- <ion-button (click)="deleteAll()"> Alles löschen</ion-button> -->
    <div *ngIf="gameHistory.length > 0">

      <ion-item-sliding *ngFor="let game of gameHistory; let i = index" class="sliding" #slidingItem>

        <ion-item-options side="end"
          (ionSwipe)="deleteGame(game.gameId); slidingItem.closeOpened();">
          <ion-item-option color="danger" expandable
            (click)="deleteGame(game.gameId); slidingItem.closeOpened();">
            <ion-icon class="title" style="transform: translateY(-2px);" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start" *ngIf="!isEditMode[game.gameId]"
          (ionSwipe)="saveOriginalStateAndEnableEdit(game, expansionPanel); slidingItem.closeOpened();">
          <ion-item-option expandable
            (click)="saveOriginalStateAndEnableEdit(game, expansionPanel); slidingItem.closeOpened();">
            <ion-icon class="title" style="transform: translateY(-2px);" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="!isEditMode[game.gameId]"
            (click)="takeScreenshotAndShare(game, expansionPanel); slidingItem.closeOpened();">
            <ion-icon class="title" style="transform: translateY(-2px);" name="share-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start" *ngIf="isEditMode[game.gameId]"
          (ionSwipe)="cancelEdit(game); slidingItem.closeOpened();">
          <ion-item-option expandable (click)="cancelEdit(game); slidingItem.closeOpened(); ">
            <ion-icon class="title" style="transform: translateY(-2px);" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <mat-expansion-panel #expansionPanel>
            <mat-expansion-panel-header class="expansion-header">
              <mat-panel-title>
                <div class="game-info">
                  <div class="title">Game {{i + 1}}</div>
                  <div class="score">Score: {{game.totalScore}}</div>
                  <!-- <div class="score">{{game.date | date}}</div> -->
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!isEditMode[game.gameId]" class="grid-container" #scoreTemplate>
              <ion-grid fixed="true" *ngFor="let frame of game.frames; let j = index;">
                <ion-row>
                  <ion-col class="middle frame">{{j + 1}}</ion-col>
                </ion-row>
                <ion-row *ngIf="j !== 9">
                  <ion-col class="inputCol"></ion-col>
                  <ion-col class="inputCol">
                    <ion-input readonly="true" type="text" inputmode="numeric"
                      [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value === 0 ? '–' : frame.throws[0]?.value">
                    </ion-input>
                  </ion-col>
                  <ion-col class="inputCol">
                    <ion-input readonly="true" type="text" inputmode="numeric"
                      [value]="(frame.throws[0]?.value !== 10 && frame.throws[0]?.value + (frame.throws[1]?.value || 0) === 10) ? '/' : frame.throws[1]?.value === 0 ? '–' : frame.throws[1]?.value">
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="j === 9">
                  <ion-col class="inputCol">
                    <ion-input readonly="true" type="text" inputmode="numeric"
                      [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value === 0 ? '–' : frame.throws[0]?.value">
                    </ion-input>
                  </ion-col>
                  <ion-col class="inputCol">
                    <ion-input readonly="true" type="text" inputmode="numeric"
                      [value]="frame.throws[1]?.value === 10 ? 'X' : (frame.throws[0]?.value !== 10 && frame.throws[0]?.value + frame.throws[1]?.value === 10) ? '/' : frame.throws[1]?.value === 0 ? '–' : frame.throws[1]?.value">
                    </ion-input>
                  </ion-col>
                  <ion-col class="inputCol" *ngIf="j === 9">
                    <ion-input readonly="true" type="text" inputmode="numeric"
                      [value]="(frame.throws[0]?.value === 10 && frame.throws[1]?.value !== 10 && frame.throws[1]?.value + frame.throws[2]?.value === 10) ? '/' : frame.throws[2]?.value === 10 ? 'X' : frame.throws[2]?.value === 0 ? '–' : frame.throws[2]?.value">
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="middle count">{{ game.frameScores[j] }}</ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div *ngIf="isEditMode[game.gameId]" class="grid-container">
              <ion-grid fixed="true" *ngFor="let frame of game.frames; let frameIndex = index;">
                <ion-row>
                  <ion-col class="middle frame">{{frameIndex + 1}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="inputCol" *ngIf="frameIndex !== 9"></ion-col>
                  <ion-col class="inputCol">
                    <ion-input type="number" clearOnEdit="true" [value]="frame.throws[0]?.value" inputmode="numeric"
                      (ionChange)="frame.throws[0] = frame.throws[0] || {}; frame.throws[0].value = parseIntValue($event.target.value)"></ion-input>
                  </ion-col>
                  <ion-col class="inputCol" *ngIf="frameIndex !== 9">
                    <ion-input type="number" clearOnEdit="true" [value]="frame.throws[1]?.value" inputmode="numeric"
                      (ionChange)="frame.throws[1] = frame.throws[1] || {}; frame.throws[1].value = parseIntValue($event.target.value)"></ion-input>
                  </ion-col>
                  <ion-col class="inputCol" *ngIf="frameIndex === 9">
                    <ion-input type="number" clearOnEdit="true" [value]="frame.throws[1]?.value" inputmode="numeric"
                      (ionChange)="frame.throws[1] = frame.throws[1] || {}; frame.throws[1].value = parseIntValue($event.target.value)"></ion-input>
                  </ion-col>
                  <ion-col class="inputCol" *ngIf="frameIndex === 9">
                    <ion-input type="number" clearOnEdit="true" [value]="frame.throws[2]?.value" inputmode="numeric"
                      (ionChange)="frame.throws[2] = frame.throws[2] || {}; frame.throws[2].value = parseIntValue($event.target.value)"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="middle count">
                    <ion-input type="text" class="frameScores" [value]="game.frameScores[frameIndex]"
                      inputmode="numeric" clearOnEdit="true"
                      (ionChange)="game.frameScores[frameIndex] = parseIntValue($event.target.value)">
                    </ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="actionRow">
                <ion-button class="left-button" (click)="cancelEdit(game)">Cancel</ion-button>
                <ion-button class="right-button" (click)="saveEdit(game)">Save</ion-button>
              </div>
            </div>
          </mat-expansion-panel>
        </ion-item>
      </ion-item-sliding>
    </div>
  </ng-template>
</ion-content>