<ion-backdrop *ngIf="isLoading" style="opacity: 0.3; z-index: 11;"></ion-backdrop>
<ion-spinner *ngIf="isLoading" name="lines" color="primary" class="custom-loader"></ion-spinner>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <ion-text style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 999;"
    *ngIf="gameHistory.length === 0">
    Spiele erst ein paar Runden
  </ion-text>

  <div *ngIf="gameHistory.length > 0">
    <div *ngFor="let game of gameHistory; let i = index">
      <div class="title" style="display: flex; justify-content: space-between;" (click)="openGame(i)">
        <div>Game {{i + 1}}
          <ion-icon name="chevron-up" *ngIf="isOpen[i]" style="vertical-align: top;"></ion-icon>
          <ion-icon name="chevron-down" *ngIf="!isOpen[i]" style="vertical-align: top;"></ion-icon>
        </div>
        <div *ngIf="!isOpen[i]">Score: {{game.totalScore}}</div>
        <ion-icon slot="icon-only" name="trash-outline" (click)="deleteGame(i); $event.stopPropagation();"></ion-icon>
      </div>
      <div class="grid-container" *ngIf="isOpen[i]">
        <ion-grid fixed="true" *ngFor="let frame of game.frames; let j = index;">
          <ion-row>
            <ion-col class="middle frame">{{j + 1}}</ion-col>
          </ion-row>
          <ion-row *ngIf="j !== 9">
            <ion-col class="inputCol"></ion-col>
            <ion-col class="inputCol">
              <ion-input readonly="true" type="text"
                [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value"></ion-input>
            </ion-col>
            <ion-col class="inputCol">
              <ion-input type="text" readonly="true"
                [value]="(frame.throws[0]?.value !== 10 && frame.throws[0]?.value + (frame.throws[1]?.value || 0) === 10) ? '/' : frame.throws[1]?.value"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="j === 9">
            <ion-col class="inputCol">
              <ion-input type="text" readonly="true"
                [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value"></ion-input>
            </ion-col>
            <ion-col class="inputCol">
              <ion-input type="text" readonly="true"
                [value]="frame.throws[1]?.value === 10 ? 'X' : (frame.throws[0]?.value !== 10 && frame.throws[0]?.value + frame.throws[1]?.value === 10) ? '/' : frame.throws[1]?.value"></ion-input>
            </ion-col>
            <ion-col class="inputCol" *ngIf="j === 9">
              <ion-input type="text" readonly="true"
                [value]="(frame.throws[0]?.value === 10 && frame.throws[1]?.value !== 10 && frame.throws[1]?.value + frame.throws[2]?.value === 10) ? '/' : frame.throws[2]?.value === 10 ? 'X' : frame.throws[2]?.value"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="middle count">{{ game.frameScores[j] }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div><mat-accordion></mat-accordion>
</ion-content>