<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button for="excelUpload" type="button" class="actionSheet" slot="start" fill="clear"
      (click)="openExcelFileInput()">
      <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
    </ion-button>
    <!-- Clear Input on Upload-->
    <input type="file" id="excelUpload" style="display: none;" (input)="handleFileUpload($event)"
      placeholder="Upload file" accept=".xlsx">
    <ion-title>
      Historie
      <ion-badge
        style="--padding-end: 8px;
      --padding-start: 8px; --padding-top: 5px; --padding-bottom: 5px; font-size: 18px; vertical-align: sub;">{{gameHistory.length}}
      </ion-badge>
    </ion-title>
    <ion-button (click)="exportToExcel()" class="actionSheet" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameHistory.length <= 0 && !isLoading; else content">
    <ion-text style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999;">
      Spiele erst ein paar Runden
    </ion-text>
  </ng-container>

  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <!-- <ion-button (click)="deleteAll()"> Alles löschen</ion-button> -->
    <div *ngIf="gameHistory.length > 0 && !isLoading">
      <mat-expansion-panel *ngFor="let game of gameHistory; let i = index">
        <mat-expansion-panel-header class="padding">
          <mat-panel-title>
            <div class="title">Game {{i + 1}}</div>
            <div class="score">Score: {{game.totalScore}}</div>
            <!-- <div class="score">{{game.date | date}}</div> -->
            <mat-panel-description>
              <ion-icon class="title" style="transform: translateY(-2px);" name="trash-outline"
                (click)="deleteGame(game.gameId); $event.stopPropagation();"></ion-icon>
            </mat-panel-description>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="grid-container">
          <ion-grid fixed="true" *ngFor="let frame of game.frames; let j = index;">
            <ion-row>
              <ion-col class="middle frame">{{j + 1}}</ion-col>
            </ion-row>
            <ion-row *ngIf="j !== 9">
              <ion-col class="inputCol"></ion-col>
              <ion-col class="inputCol">
                <ion-input readonly="true" type="text" inputmode="numeric"
                  [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value === 0 ? '–' : frame.throws[0]?.value"></ion-input>
              </ion-col>
              <ion-col class="inputCol">
                <ion-input readonly="true" type="text" inputmode="numeric"
                  [value]="(frame.throws[0]?.value !== 10 && frame.throws[0]?.value + (frame.throws[1]?.value || 0) === 10) ? '/' : frame.throws[1]?.value === 0 ? '–' : frame.throws[1]?.value"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="j === 9">
              <ion-col class="inputCol">
                <ion-input readonly="true" type="text" inputmode="numeric"
                  [value]="frame.throws[0]?.value === 10 ? 'X' : frame.throws[0]?.value === 0 ? '–' : frame.throws[0]?.value"></ion-input>
              </ion-col>
              <ion-col class="inputCol">
                <ion-input readonly="true" type="text" inputmode="numeric"
                  [value]="frame.throws[1]?.value === 10 ? 'X' : (frame.throws[0]?.value !== 10 && frame.throws[0]?.value + frame.throws[1]?.value === 10) ? '/' : frame.throws[1]?.value === 0 ? '–' : frame.throws[1]?.value"></ion-input>
              </ion-col>
              <ion-col class="inputCol" *ngIf="j === 9">
                <ion-input readonly="true" type="text" inputmode="numeric"
                  [value]="(frame.throws[0]?.value === 10 && frame.throws[1]?.value !== 10 && frame.throws[1]?.value + frame.throws[2]?.value === 10) ? '/' : frame.throws[2]?.value === 10 ? 'X' : frame.throws[2]?.value === 0 ? '–' : frame.throws[2]?.value"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="middle count">{{ game.frameScores[j] }}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </mat-expansion-panel>
    </div>
  </ng-template>
</ion-content>