<div class="stats">
  <ion-text [id]="id + '-tooltip'">{{ label }}: <ion-icon *ngIf="toolTip" name="information-circle-outline"></ion-icon></ion-text>
  <ion-popover *ngIf="toolTip" [trigger]="id + '-tooltip'" size="cover">
    <ion-text style="padding: 8px; color: black;">{{toolTip}}</ion-text>
  </ion-popover>
  <ion-text class="value" [id]="id">
    {{ currentStat | conditionalNumber }}<span *ngIf="isPercentage">%</span>
    <ion-icon *ngIf="getArrowIcon(currentStat, prevStat)" [name]="getArrowIcon(currentStat, prevStat)" [color]="getDiffColor(currentStat, prevStat)">
    </ion-icon>
  </ion-text>
  <ion-popover class="diffPopover" [trigger]="id" *ngIf="statDifference !== '0'">
    <ion-text [color]="getDiffColor(currentStat, prevStat)">
      {{ statDifference }}
    </ion-text>
  </ion-popover>
</div>
