.stats {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 0 20px;

  ion-text {
    padding: 5px;
    color: white;
    position: relative;

    ion-icon {
      position: absolute;
    }
  }

  .value {
    border: 1px solid var(--ion-color-dark);
    border-radius: 5px;
    background-color: var(--ion-color-secondary);
    color: var(--ion-input-color);
    text-align: center;
    min-width: fit-content;
    width: clamp(50px, 100%, 85px);
    position: relative;

    // TODO fix change anzeige zu bessere position
    ion-icon {
      position: absolute;
      left: -20px;
      top: 23%;
    }
  }
}
