
@if (isAddPage) {

<ion-item>
  <ion-select label="League/Tournament" [value]="defaultLeague" [(ngModel)]="selectedLeague" (ionChange)="leagueChanged.emit(selectedLeague)">
    <ion-select-option value="New">Add New</ion-select-option>
    <ion-select-option value="">None</ion-select-option>
    <ion-select-option *ngFor="let league of leagues" [value]="league">{{ league }}</ion-select-option>
  </ion-select>
</ion-item>
}
@else {
<ion-item>
  <ion-icon name="medal-outline" slot="start"></ion-icon>
  <ion-select label="Leagues/Tournaments" [(ngModel)]="selectedLeague"
    (ionChange)="leagueChanged.emit(selectedLeague)">
    <ion-select-option value="New">Add New</ion-select-option>
    <ion-select-option value="all">All</ion-select-option>
    <ion-select-option value="">None</ion-select-option>
    <ion-select-option *ngFor="let league of leagues" [value]="league">{{ league }}</ion-select-option>
  </ion-select>
</ion-item>
}


<ion-item *ngIf="selectedLeague === 'New'">
  <ion-icon name="add-outline" slot="start"></ion-icon>
  <ion-input label="Enter new league" [(ngModel)]="newLeague" placeholder="League name"></ion-input>
  <ion-button type="submit" (click)="saveLeague()" [disabled]="newLeague === ''">Save</ion-button>
</ion-item>
