<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="padding: 5px">
      <ion-button for="excelUpload" type="button" class="actionSheet" slot="start" fill="clear" (click)="openExcelFileInput()">
        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="exportToExcel()" class="actionSheet" fill="clear">
        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon> </ion-button
    ></ion-buttons>
    <!-- Clear Input on Upload-->
    <input type="file" id="excelUpload" class="ion-hide" (input)="handleFileUpload($event)" placeholder="Upload file" accept=".xlsx" />
    <ion-title>
      History
      <ion-badge>{{filteredGameHistory.length }}</ion-badge>
    </ion-title>
    <ion-buttons slot="end" class="actionSheet">
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="(gameHistory.length <= 0 && !isLoading)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="activeFilterCount !== 0">{{activeFilterCount}}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="(gameHistory.length <= 0 || filteredGameHistory.length <= 0) && !isLoading; else content">
    <ion-text class="no-game-text">
      {{ gameHistory.length <= 0 && !isLoading ? 'Start playing a few games to see your history here!' : 'No Games for this filter!' }}
    </ion-text>
  </ng-container>
  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <app-game [games]="filteredGameHistory" [gameCount]="filteredGameHistory.length" [leagues]="leagues"></app-game>
  </ng-template>
</ion-content>
