<div class="grid-container">
  <ion-grid fixed="true" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let frameIndex = index;">
    <ion-row>
      <ion-col class="middle frame">{{i}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="inputCol" *ngIf="i !== 10"></ion-col>
      <ion-col class="inputCol">
        <ion-input type="number" [(ngModel)]="frames[frameIndex][0]"
          (ionBlur)="simulateScore(frameIndex, 1)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i !== 10">
        <ion-input type="number" [(ngModel)]="frames[frameIndex][1]"
          [disabled]="frames[frameIndex][0] === 10 && i !== 10" (ionBlur)="simulateScore(frameIndex, 2)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" [(ngModel)]="frames[frameIndex][1]"
          [disabled]="frames[frameIndex][0] === 10 && i !== 10" (ionBlur)="simulateScore(frameIndex, 2)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" [(ngModel)]="frames[frameIndex][2]"
          [disabled]="frames[frameIndex][0] !== 10 && frames[frameIndex][0] + (frames[frameIndex][1] || 0) !== 10"
          (ionBlur)="simulateScore(frameIndex, 3)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="(frames[frameIndex][0] !== undefined || frames[frameIndex][1] !== undefined || (i === 10 && frames[frameIndex][0] !== undefined)) &&  isNumber(frameScores[i - 1])">
      <ion-col class="middle count">{{ frameScores[i - 1] }}</ion-col>
    </ion-row>
    <ion-row
      *ngIf="!((frames[frameIndex][0] !== undefined || frames[frameIndex][1] !== undefined || (i === 10 && frames[frameIndex][0] !== undefined)) && isNumber(frameScores[i - 1]))">
      <ion-col class="middle count" style="color: #294B29;">0</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="middle count">Total Score: {{ totalScore }}
        <!-- <span *ngIf="totalScore === undefined" style="color: #294B29;">000</span>
        <span *ngIf="totalScore !== undefined && totalScore < 100" style="color: #294B29;">0</span> -->
      </ion-col>
      <ion-col class="middle count">Max Score: {{ maxScore }}</ion-col>
    </ion-row>
    <ion-row class="buttonRow">
      <ion-col>
        <ion-button (click)="clearFrames()">Clear Score</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="calculateScore()">Save Score</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>