<div class="grid-container">
  <ion-grid fixed="true" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let frameIndex = index;">
    <ion-row>
      <ion-col class="middle frame">{{i}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="inputCol" *ngIf="i !== 10"></ion-col>
      <ion-col class="inputCol">
        <ion-input type="number" [(ngModel)]="bowlingService.frames[frameIndex][0]" (ionBlur)="simulateScore(frameIndex)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i !== 10">
        <ion-input type="number" [(ngModel)]="bowlingService.frames[frameIndex][1]"
          [disabled]="bowlingService.frames[frameIndex][0] === 10 && i !== 10" (ionBlur)="simulateScore(frameIndex)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" [(ngModel)]="bowlingService.frames[frameIndex][1]"
          [disabled]="bowlingService.frames[frameIndex][0] === 10 && i !== 10" (ionBlur)="simulateScore(frameIndex)"></ion-input>
      </ion-col>
      <ion-col class="inputCol" *ngIf="i === 10">
        <ion-input type="number" [(ngModel)]="bowlingService.frames[frameIndex][2]"
          [disabled]="bowlingService.frames[frameIndex][0] !== 10 && bowlingService.frames[frameIndex][0] + (bowlingService.frames[frameIndex][1] || 0) !== 10"
          (ionBlur)="simulateScore(frameIndex)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="(bowlingService.frames[frameIndex][0] !== undefined || bowlingService.frames[frameIndex][1] !== undefined || (i === 10 && bowlingService.frames[frameIndex][0] !== undefined)) &&  isNumber(bowlingService.frameScores[i - 1])">
      <ion-col class="middle count">{{ bowlingService.frameScores[i - 1] }}</ion-col>
    </ion-row>
    <ion-row
      *ngIf="!((bowlingService.frames[frameIndex][0] !== undefined || bowlingService.frames[frameIndex][1] !== undefined || (i === 10 && bowlingService.frames[frameIndex][0] !== undefined)) && isNumber(bowlingService.frameScores[i - 1]))">
      <ion-col class="middle count" style="color: #294B29;">0</ion-col>
    </ion-row>
  </ion-grid>
</div>