/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-header {
  background-color: #080f08;

  ion-title {
    font-size: 22px;
    color: white;
  }
}

.invalid-input {
  border: 1px solid red !important;
}

ion-item {
  color: white;
}

ion-toolbar {
  height: 59px !important;
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  gap: 8px;
  margin: 5px 5px 10px;
  max-width: 100%;

  // font-weight: 600;
  justify-items: center;

  ion-input:not(.frameScores) {
    color: var(--ion-input-color);
  }
}

.middle {
  text-align: center;

  &.frame {
    background-color: var(--ion-color-dark);
    border-radius: 3px 3px 0 0;
  }

  &.count {
    font-weight: 500;

    --ion-grid-column-padding: 1px;
  }
}

.nameInput {
  background-color: white !important;
  color: black;
}

.sc-ion-select-popover-ios {
  .blue-option {
    ion-radio {
      color: #427d9d;
    }
  }

  .red-option {
    ion-radio {
      color: #a91d3a;
    }
  }

  .gray-option {
    ion-radio {
      color: #7d7c7c;
    }
  }

  .lila-option {
    ion-radio {
      color: #31304d;
    }
  }

  .green-option {
    ion-radio {
      color: #789461;
    }
  }
}

.alert-header-white .alert-title {
  color: white !important;
}

ion-button {
  --background-activated: none;
  --background-hover: none;
  --background-focused: none;
}

ion-content {
  font-size: 19px;
}

div.mat-expansion-panel-body {
  padding: 0;
}

mat-expansion-panel {
  background: none !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  align-items: baseline;
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  background: none !important;
  box-shadow: none;
}
