<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Game
    </ion-title>
    <div slot="end">
      <ion-button class="actionSheet" (click)="presentActionSheet()" fill="clear">
        {{selectedModeText}}
        <ion-icon *ngIf="!sheetOpen" name="chevron-down"></ion-icon>
        <ion-icon *ngIf="sheetOpen" name="chevron-up"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-alert [isOpen]="isAlertOpen" header="Error" message="You didn't fill all inputs" [buttons]="alertButton"
  (didDismiss)="setAlertOpen()">
</ion-alert>

<app-alert [isOpen]="isToastOpen" [message]="this.message" [icon]="this.icon" [isError]="this.error"></app-alert>

<ng-container *ngFor="let mode of seriesMode; let i = index;">
  <ion-content [fullscreen]="true" *ngIf="mode">
    <ng-container *ngFor="let trackIndex of trackIndexes[i]; let j = index">
      <h1 *ngIf="i !== 0">Game {{j + 1}}</h1>
      <app-track-grid (maxScoreChanged)="onMaxScoreChanged($event, trackIndex)"
        (totalScoreChanged)="onTotalScoreChange($event, trackIndex)"></app-track-grid>
      <ion-grid *ngIf="i !== 0">
        <ion-row>
          <ion-col class="middle count">Total: {{ totalScores[trackIndex] }}</ion-col>
          <ion-col class="middle count">Max: {{ maxScores[trackIndex] }}</ion-col>
        </ion-row>
        <ion-row class="buttonRow">
          <ion-col>
            <ion-button (click)="clearFrames(j)">Clear Score</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ion-grid *ngIf="i === 0">
      <ion-row>
        <ion-col class="middle count">Total: {{ totalScores[i] }}</ion-col>
        <ion-col class="middle count">Max: {{ maxScores[i] }}</ion-col>
      </ion-row>
      <ion-row class="buttonRow">
        <ion-col>
          <ion-button (click)="clearFrames()">Clear Score</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="calculateScore()">Save Score</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="i !== 0">
      <ion-row>
        <ion-col class="middle count">Score Series: {{getSeriesCurrentScore(i)}}</ion-col>
        <ion-col class="middle count">Max Series: {{getSeriesMaxScore(i)}}</ion-col>
      </ion-row>
      <ion-row class="buttonRow">
        <ion-col>
          <ion-button (click)="clearFrames()">Clear Scores</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="calculateScore()">Save Series</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>