.blue-option {
    background-color: blue;
    color: blue !important;
  }
  
  .yellow-option {
    background-color: yellow;
  }
  
  .green-option {
    background-color: green;
  }
  
  .red-option {
    background-color: red;
  }
  
  .gray-option {
    background-color: gray;
  }
  .popover-content{
    width: 95%
  }